body {
  font-family: "Outfit", sans-serif;
  color: hsl(30, 10%, 34%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: hsl(30, 54%, 90%);
}

h1 {
  font-family: "Young Serif", serif;
  font-weight: 500;
  color: black;
}

h2 {
  font-family: "Young Serif", serif;
  font-weight: 400;
  color: hsl(14, 45%, 36%);
}

img {
  width: 100%;
  border-radius: 10px;
}

span {
  font-weight: bold;
  color: hsl(14, 45%, 36%);
}

li {
  padding-left: 1em;
  margin-bottom: 10px;
}

table {
  width: 100%;
}

td {
  padding: 10px 30px;
  border-bottom: 1px solid #ddd;
}

tr:last-child td {
  border: none;
}

.info > hr {
  margin: 30px 0px;
  border: 1px solid #ddd;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 730.28px;
  margin: 100px 0px;
}

.card {
  background-color: hsl(0, 0%, 100%);
  padding: 30px 30px;
  border-radius: 20px;
}

.prep-time {
  background-color: hsl(330, 100%, 98%);
  margin: 30px 0px;
  padding: 10px 20px;
  border-radius: 10px;
  color: hsl(24, 5%, 18%);
}

.prep-time > p {
  color: hsl(332, 51%, 32%);
  font-weight: 800;
  font-size: 1.125rem;
}

.prep-time > ul > li > span {
  color: hsl(30, 10%, 34%);
}

li::marker {
  color: hsl(332, 51%, 32%);
  font-weight: 600;
}

.instructions > li > span {
  color: hsl(30, 10%, 34%);
}
